.category {
    position: relative;
    font-size: 12px;
    line-height: 16px;
}

.category::before {
    content: "";
    background-color: #999;
    display: inline-block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: relative;
    top: 2px;
    transition: all .25s ease;
    margin-right: 6px;
}