.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 10000;
    box-sizing: border-box;
}

.modalBody {
    background: #fff;
    height: 100%;
    min-height: 100vh;
    padding: 16px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}

.modalDimd {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #000;
    opacity: 0.3;
}

@media (min-width: 600px) {
    .modalMain {
        padding: 140px 0 120px;
    }

    .modalBody {
        border-radius: 12px;
        height: auto;
        margin: 0 auto;
        max-width: 800px;
        min-height: 400px;
        width: 90%;
    }
}